<!DOCTYPE html>
<html>
  <% include partial/head.ejs %>

  <body>
  <% include partial/nav.ejs %>
  <% include partial/background.ejs %>

    <!-- Page content -->
    <div class="main">
      <div class="container tim-container" style="max-width:800px; padding-top:100px">
        <div id="typography">
          <h1><span class="tim-note">Profile</h1>
            <% if (typeof user == 'object' && user) { %>
              <% if (user.provider == 'facebook') { %>
              <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
              <% } else if (user.provider == 'google') {  %>
                <h3 class="text-primary"><span class="fa fa-google"></span> Google</h3>
                <% } %>
              <div class="row">
                  <div class="tim-typo"><p><span class="tim-note">id</span><%= user.external_id %></p></div>
                  <div class="tim-typo"><p><span class="tim-note">display name</span><%= user.name %></p></div>
                  <div class="tim-typo"><p><span class="tim-note">token</span><%= user.token %></p></div>
                  <div class="tim-typo"><p><span class="tim-note">email</span><%= user.email %></p></div>
                  <div class="tim-typo"><p><span class="tim-note">photo</span><small><%= user.photo %></small></p></div>
              </div>
              <% } %>
          </div>
        </div>
    </div>
  </body>
  <% include partial/footer.ejs %>
</html>
