<!DOCTYPE html>
<html>
  <% include partial/head.ejs %>

  <body>
  <% include partial/nav.ejs %>

    <div class='blurred-container'>
        <div class="img-src" style="background-image: url('<%= user.background %>')"></div>
    </div>


    <!-- Page content -->
    <div class="main">
      <div class="container tim-container" style="max-width:800px; padding-top:100px">
        <div id="typography">
          <div class="col-md-4 col-sm-6">
            <img src="<%= user.photo %>" alt="Thumbnail Image" class="img-thumbnail">

          </div>
          <h2><span class="tim-note"><%= user.name %></h2></span>
          <p class="text-muted"><%= user.summary %></p>

          <button href="#Foo" type="button" class="btn btn-default" aria-label="Edit profile" data-toggle="collapse">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </button>

          <div class="space"></div>
              <div id='success' class="row">
                  <div id="Foo" class="collapse">
                    <h1><span class="tim-note">Edit Profile</h1></span>
                    <% if (user.provider == 'facebook') { %>
                      <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
                      <% } else if (user.provider == 'google') {  %>
                        <h3 class="text-primary"><span class="fa fa-google"></span> Google</h3>
                        <% } %>
                    <div class="tim-typo"><p><span class="tim-note">email</span><%= user.email %></p></div>
                    <div class="tim-typo">
                      <p><span class="tim-note">display name</span>
                        <div class="form-group">
                          <input type="text" id="change_name_input" value="" placeholder="<%= user.name %>" class="form-control" onkeydown="change_name('<%= user._id %>')"/>
                        </div>
                      </p>
                    </div>
                    <div class="tim-typo">
                      <p><span class="tim-note">Summary</span>
                        <div class="form-group">
                          <input type="text" id="change_summary_input" value="" placeholder="<%= user.summary %>" class="form-control" onkeydown="change_summary('<%= user._id %>')"/>
                        </div>
                      </p>
                    </div>
                    <div class="tim-typo">
                      <p><span class="tim-note">Profile picture</span>
                        <div class="form-group">
                          <form action="/profile/picture" method="POST" enctype="multipart/form-data">
                            <input class="btn btn-default" type="file" name="avatar">
                            <input class="btn btn-default" type="submit" value="submit">
                          </form>
                        </div>
                      </p>
                    </div>
                    <div class="tim-typo">
                      <p><span class="tim-note">Background picture</span>
                        <div class="form-group">
                          <form action="/profile/background" method="POST" enctype="multipart/form-data">
                            <input class="btn btn-default" type="file" name="avatar">
                            <input class="btn btn-default" type="submit" value="submit">
                          </form>
                        </div>
                      </p>
                    </div>
                  </div>
              </div>
          </div>
        </div>
    </div>

    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>

    <!-- Create React Component -->
    <div id="app"></div>
    <script type="text/babel" src="profile.js"></script>

  </body>
  <% include partial/footer.ejs %>
</html>
